__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
ENV/
.venv
*.db
*.sqlite3
storage/charts/*
!storage/charts/.gitkeep
storage/reports/*
!storage/reports/.gitkeep
storage/temporary/*
!storage/temporary/.gitkeep
data/user_uploads/*
!data/user_uploads/.gitkeep
.idea/
.vscode/
*.log

database/app.db-shm
database/app.db-wal
